<h1>TRAINS!</h1>
<h2>Are you an employee or a rider?</h2>
<form action="/home/rider" method="get">
  <button type="submit" name="sort" class="btn">Rider</button>
</form>

<form action="/home/employee" method="get">
  <button type="submit" name="sort" class="btn">Employee</button>
</form>
