<h1>Add a New Train</h1>

<form action="/home/employee/trains" method="post">
  <div class="form-group">
    <label for="name">Name of Train</label>
    <input id="n" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create</button>
</form>
