<h1>Add a New City</h1>

<form action="/home/employee/cities" method="post">
  <div class="form-group">
    <label for="name">Name of City</label>
    <input id="n" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create</button>
</form>
