<h1><%= @city.name %></h1>


<% if @stops.any? %>
<p>Train -----------Time</p>
<ul>
  <% @stops.each do |stop| %>
  <li> <%=Train.find(stop[:train_id]).name %>---------------<%= stop[:time] %></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no stops to display.</p>
<% end %>


<a href="/home/rider">Return</a>
