<h1><%= @train.name %></h1>

<% if @stops.any? %>
<p>City -----------Time</p>
<ul>
  <% @stops.each do |stop| %>
  <li> <%=City.find(stop[:city_id]).name %>---------------<%= stop[:time] %></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no stops to display.</p>
<% end %>



<a href="/home/rider">Return</a>
